*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* TYPOGRAPHY */
body, nav{
	color:#666;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif; 
	font-size: 1em;
	line-height: 1.4em; 
	font-weight: normal;
}
h1, h2, h3, h4, h5, h6, .heading_txt {
	font-weight: normal;
	font-family: 'Droid Serif', Arial, Helvetica, sans-serif; 
	line-height: 1.5em;
	margin: .45em 0;
	padding: 0;
	color: #333
}

/* LINKS */
a {text-decoration: none; color: inherit;}

/* PARAGRAPH */
p{ margin: 0 0 1.5em;}

/* RESPONSIVE IMAGES */
img{ max-width:100%; height:auto;}

/* STRUCTURE */  
.wrapper{
	width: 92%; 
	margin: 0 auto;
}

.grid {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.greeter {
	margin-bottom: 80px;
}

.flexslider {
	box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
}

/*colors and backgrounds*/
body{
	background: #fff;
}
header{
	background: #e8e8e8; /*Platinum*/
}
footer{
	background: #465362ff;
}

/*HEADER*/
header {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 5px #0000004c;
	z-index: 150;
}
.wrap {
	width: 92%;
	margin: 0 auto;
	height: 100%;
}
header .logo {
	float: left;
	display: flex;
	align-items: center;
}
header .logo a {
	line-height: 0;
}
/*DROP OPTIONS*/

.focus {
	background-color: #465362 !important; /* independence */
	color: #e5e6e4 !important; /* platinium */
}

.shift {
	position: relative;
	top: 0;
	width: 100%;
}

/*GOTOP BUTTON*/
.goTop {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 0;
	font-size: .7em;
	bottom: 4%;
	right: 4%;
	width: 40px;
	height: 40px;
	background: #c2011480;
	border-radius: 50%;
	color: #e5e6e4ff;
	z-index: 100;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	transition: .2s ease;
}


/*FOOTER*/
footer {
	position: relative;
	width: 100%;
}
footer>ul {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 40px 0;
}
footer>ul>li{
	flex: 3;
}
footer ul li ul li a {
	color: #e5e6e4ff;
}
/* About Us paragraph */
footer ul p {
	text-transform: none;
	color: #222222ff;
	margin-top: 25px;
}
/* Item list */
footer ul li ul {
	display: block;
	margin-top: 20px;
}
footer ul li ul li {
	padding: 5px 0;
	font-size: 16px;
	text-shadow: none;
	text-transform: none;
}
/*footer ul li ul li a{
	text-decoration: underline;
	text-underline-position: under;
}*/

/* contact information */
footer ul li:last-child ul li:last-child {
	margin-top: 10px;
	/*float: right;*/
}
footer ul li:last-child {
	color: #222;
	text-decoration: none;
}
footer ul li:first-child {
	flex: 1;
}
footer ul .gather {
	flex: 7;
	display: flex;
}
.gather li {
	flex: 1;
}

.copyright {
	width: 100%;
	background: #c20114ff;
	display: flex;
	align-items: center;
	padding-top: 2em;
	padding-bottom: 2em; 
}
.copyright span {
	text-transform: uppercase;
	text-shadow: 1px 1px 3px #000000b3;
	color: #e5e6e4ff;

}

/* Contain floats*/ 
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: " ";
	display: table;
}
.clearfix:after,
.container:after,
.row:after{
	clear: both;
}

/*MOBILE DEVICES*/
@media only screen and (max-width: 999px){

	/*HEADER*/
	header {
		height: 70px;
	}
	header .logo {
		height: 70px;
	}
	header .logo img {
		/*max-width: 80px;*/
		height: 30px
	}
	header ul.menu_toggle {
		margin: 0;
		height: 70px;
		display:flex;
		align-items: center;
		float: right;
		color: #333;
	}
	.menu_toggle li a {
		font-size: 1.5em;
		padding: 15px;

	}
	.menu_toggle li:last-child a {
		border-radius: 5px;
		border: 1px solid #333;
		/*background-color: #333;*/
		/*color: #e5e6e4; */
		padding: 7px 15px;
		margin-left: 10px;
	}
	/*hide the search*/
	header nav>ul>li:last-child {
		display: none;
	}
	header nav {
		position: fixed;
		top: 70px;
		background-color: #e5e6e4;
		width: 100%;
		margin: 0 -4%;
		padding-bottom: 10px;
		display: block;
		overflow: scroll;
		height: calc(100% - 70px);
		left: 104%;
	}
	nav ul li {
		width: 100%;
	}
	nav>ul>li>a {
		text-transform: uppercase;
	}
	nav ul li a {
		display: block;
		padding: 10px 4%;
		width: 100%;
	}
	nav ul li ul {
		/*visibility: hidden;*/
		max-height: 0;
		overflow: hidden;
		transition: max-height .5s ease-out;
	}
	nav ul li ul li a {
		padding: 5px 8%;
	}
	nav ul li ul li ul {
		/*display: none;*/
	}
	nav ul li ul li ul li a{
		padding: 5px 12%;
	}
	.dropit {
		/*visibility: visible;*/
		max-height: 450px;
	}
	.shift {
		height: 80px;
	}

	/*FOOTER*/
	footer>ul {
		padding: 40px 0;
		flex-direction: column;
	}
	.gather {
		flex-direction: column;
	}

	.grid {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/*LARGER MOBILE DEVICES*/
@media only screen and (min-width: 481px) and (max-width: 999px) {
	nav ul li a {
		display: block;
		padding: 10px 4%;
		width: 30%;
	}
	nav ul li ul li a {
		padding-left: 6%;
	}
	nav ul li ul li ul li a {
		padding-left: 8%; 
	}


	.gather {
		flex-direction: row;
	}
}

/*TABLET & SMALLER LAPTOPS*/
@media only screen and (min-width: 1000px) {

	.wrapper, .wrap{
		max-width: 1200px;
	}

	/*HEADER*/
	header .logo{
		height: 100px;
	}
	header .logo img {
		height: 50px;
	}

	.menu_toggle{
		display: none;
	}

	header nav {
		position: relative;
		float: right;
	}
	nav ul {
		display: flex;
	}
	/* main nav links */
	nav ul li a {
		display: block;
		text-transform: uppercase;
		padding: 40px 30px;
		font-size: 20px;
		color: inherit;
		transition: .4s;
	}
	nav ul li:hover>a {
		background-color: #465362;
		color: #e5e6e4;
	} 
	/* The search link styling */
	nav ul li a.search {
		transition: .2s;
		color: #222;
	}
	nav ul li a.search:hover {
		background-color: inherit;
		color: #c20114; /* Harvard Scarlet */
	}
	/* The dropdown menu */
	nav ul li ul {
		margin-top: 1em;
		min-width: 200px;
		white-space: nowrap;
		display: block;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		box-shadow: 0 1px 5px #0000004c;
		transition: .3s;
	}
	nav ul li:hover ul {
		margin-top: 0;
		visibility: visible;
		opacity: 1;
	}
	nav ul li ul li{
		position: relative;	
	}
	nav ul li ul li a {
		background-color: #e5e4e6;
		padding: 10px 30px;
		font-size: 14px;
	}
	/* Second Dropdown */
	nav ul li ul li ul.opt {
		position: absolute;
		top:0;
		left: 100%;/*FALLBACK*/
		left: calc(100% + 1.5em);
		opacity: 0;
		visibility: hidden;
		transition: .3s ease;
	}
	nav ul li ul li:hover ul.opt {
		visibility: visible;
		left: 100%;
		opacity: 1;
	}

	.shift {
		height: 150px;
	}

	/*GRID*/
	/* & Columns : 12 */

	.row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.grid_1 { width: 8.33333333%; }
	.grid_2 { width: 16.66666667%; }
	.grid_3 { width: 25%; }
	.grid_4 { width: 33.33333333%; }
	.grid_5 { width: 41.66666667%; }
	.grid_6 { width: 50%; }
	.grid_7 { width: 58.33333333%; }
	.grid_8 { width: 66.66666667%; }
	.grid_9 { width: 75%; }
	.grid_10 { width: 83.33333333%; }
	.grid_11 { width: 91.66666667%; }
	.grid_12 { width: 100%; }

	.grid {
		float: left;
		display: block;
		margin-bottom: 40px;
	}
	/*.rightfloat{float:right;}*/

	.greeter [class*="grid_"] { margin-bottom:-20px;}

	.goTop:hover {
		background-color: #c20114CC;
		/*box-shadow: 0 0 7px 1px #00000080;*/
	}

	/*FOOTER*/
	footer>ul {
		flex-direction: row;
		justify-content: space-between;
	}
	/*EFFECTS*/
	footer ul li ul a {
		color: #e5e6e4ff;
		transition: .2s;
	}
	footer ul li ul li a:hover {
		color: #291720ff;
	}
	footer ul li p {
		padding-right: 30px;
	}
	footer>ul>li:first-child{
		flex: 4;
	}

}

/*DESKTOP*/
@media only screen and (min-width: 1030px) {

} 

/*LARGE VIEWING SIZE*/
@media only screen and (min-width: 1240px) {

} 

/*RETINA*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

} 

/*PRINT STYLESHEET*/
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}