{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'js/flexslider/flexslider.css' %}">
{% endblock %}
{% block page %}
<!-- greeter area -->
<div class="shift"></div>
<section class="greeter" class="clearfix">	
	<!-- responsive FlexSlider image slideshow -->
	<div class="wrapper">
		<div class="row"> 
			<div class="grid grid_5">
				<h1>Fakulteti i Teknologjise se Informacionit</h1>
				<p>
					Fakulteti i Teknologjisë së Informacionit (FTI) është një nga njësitë kryesore të Universitetit Politeknik të Tiranës (UPT). UPT është Institucion Publik i Arsimit të Lartë, me qendër në Tiranë, i cili shtrin aktivitetin e tij mësimor dhe shkencor brenda kufijve të Republikës së Shqipërisë, ofron studime me kohë të plotë në tre cikle dhe synon të përgatisë specialistë dhe shkencëtarë në fushat inxhinierike.
				</p>
			</div>
			<div class="grid grid_7">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<a href="#">
								<div class="flex-img">
									<img src="{% static 'images/upt_front_view.jpg' %}" />
								</div>
								<p class="flex-caption">Misioni i FTI</p>
							</a>
						</li>
						<li>
							<a href="http://www.prowebdesign.ro">
								<div class="flex-img">
									<img src="{% static 'images/karta_e_studentit.jpg' %}" />
								</div>
								<p class="flex-caption">Karta E Studentit</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="flex-img">
									<img src="{% static 'images/graduation.jpg' %}" />
								</div>
								<p class="flex-caption">Programet</p>
							</a>
						</li>
						<li>
							<img src="{% static 'images/basic-pic4.jpg' %}" />
							<p class="flex-caption">Morocco desert.</p>
						</li>
					</ul>
				</div><!-- FlexSlider -->
			</div><!-- end grid grid_7 -->
		</div><!-- end row -->
	</div><!-- end wrapper -->
</section><!-- end greeter -->





<!-- main content area -->	 
<div id="main" class="wrapper">
	
	
	<!-- content area -->	
	<section id="content" class="wide-content">
		<div class="row depts clearfix">
			<a href="#" class="grid grid_4">
				<div class="thumbnail">
					<img src="{% static 'images/chip.jpg' %}" />
					<h1 class="first-header">DET</h1>
					<p>
						Departamenti i Elektronikës dhe Telekomunikacionit (DET) është vazhdim i Departamentit të Elektronikës dhe përgatit inxhinierë në inxhinieri elektronike dhe inxhinieri e telekomunikacioneve.
					</p>
				</div>
			</a>

			<a href="#" class="grid grid_4">
				<div class="thumbnail">
					<img src="{% static 'images/computer.jpg' %}" />
					<h1 class="first-header">DII</h1>
					<p>
						Departamenti i Inxhinierisë Informatike (DII) është vazhdim i Seksionit të Inxhinierisë së Kompjuterave i Departamentit të Elektronikës dhe përgatit inxhinierë në inxhinieri informatike.
					</p>
				</div>
			</a>
			
			<a href="#" class="grid grid_4">
				<div class="thumbnail">
					<img src="{% static 'images/research.jpg' %}" />
					<h1 class="first-header">DBI</h1>
					<p>
						Departamenti i Bazave të Informatikës (DBI),ish-Qendra për Kërkim dhe Zhvillim, kryen veprimtari kërkimore zhvilluese të pavarur, si dhe në shërbim të procesit mësimor dhe studimeve pas universitare të FTI.
					</p>
				</div>
			</a>
		</div><!-- end row -->
		<!-- calendar wrapper -->
		<div class="calendar_wrapper" id="calendar">
			<!-- calendar + events -->
			<div class="events clearfix">
				<!-- calendar div -->
				<div class="calendar">
					<!-- the year header in months -->
					<ul class="months">
						<li class='yeartab'>
							<div data-move='prev' class='ym left'>
								<span><i class='fas fa-chevron-left'></i></span>
							</div>
							<!-- year number -->
							<div class='year'></div>
							<div data-move='next' class='ym right'>
								<span><i class='fas fa-chevron-right'></i></span>
							</div>
						</li>
					</ul> <!-- year header end -->
					<!-- the background image -->
					<img alt="month_bg">
					<!-- the main header of calendar -->
					<div class="header">
						<div data-move="prev" class="mc left"><span><i class="fas fa-chevron-left"></i></span></div>
						<!-- month number -->
						<div class="month"></div>
						<div data-move="next" class="mc right"><span><i class="fas fa-chevron-right"></i></span></div>					
					</div> <!-- end of the header -->
					<div class="year"></div> <!-- year number -->
					<!-- starting body of the calendar -->
					<div class="body">
						<!-- week days -->
						<ul class="day weekdays">
							<li>H</li>
							<li>M</li>
							<li>M</li>
							<li>E</li>
							<li>P</li>
							<li>Sh</li>
							<li>D</li>
						</ul> <!-- end of weekdays -->
						<ul class="day days"></ul><!-- the days -->
					</div> <!-- end of calendar body -->
				</div> <!-- end of calendar -->

				<!-- article divider -->
				<div class="articles">
					<!-- the article group -->
					<div class="article-gr">
						{% for article in articles %}
						<!-- article link -->
						<a href="#">
							<!-- one article -->
							<div class="article">
								<!-- publication date -->
								<div class="date-pub">
									<!-- date -->
									<div class="date">20</div>
									<!-- month and year -->
									<div class="dt-gr">
										<!-- month -->
										<div class="month">Gusht</div>
										<!-- year -->
										<div class="year">2020</div>
									</div>
								</div><!-- end of publication date -->
								<!-- article body -->
								<div class="art-body">
									<!-- department -->
									<span class="departament">{{article.department.get_choises_display}}</span>
									<!-- title of the article -->
									<h2 class="art-title">{{article.title}}</h2>
									<!-- description of the article -->
									<p class="description">{{article.content}}</p>
								</div> <!-- end of article body -->
							</div> <!-- end of article -->
						</a> <!-- end of article link -->
						{% endfor %}
					</div> <!-- end of article group -->
				</div> <!-- end of articles -->
			</div> <!-- end of events -->
		</div> <!-- end of calendar wrapper -->
		<div class="row">
			<div class="grid grid_4">
				<a href="#" class="service"><i class="fas fa-sign-in-alt"></i> Students Platform</a>
			</div>
			<div class="grid grid_4">
				<a href="#" class="service"><i class="fas fa-calendar-alt"></i> Oraret</a>
			</div>
			<div class="grid grid_4">
				<a href="#" class="service"><i class="fas fa-book"></i> Biblioteka online</a>
			</div>
		</div>
	</section><!-- end content area -->	
</div><!-- #end div #main .wrapper -->

{% endblock %}
{% block scripts %}
<script defer src="{% static 'js/flexslider/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/flexslider.js' %}"></script>
<script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>
{% endblock %}